{% extends 'base.html.twig' %}
{% block title 'Company' %}
{% block pageTitle 'Tree' %}
{% block pageSubtitle 'Tree of employee' %}

{% block body %}
    <div class="row">
        <p>
            {% for user in usersTree %}
                {{ user[2] }}&nbsp;<label><input id="{{ user[1] }}" type="checkbox" checked></label>&nbsp;{{ user[3] }} <br />
            {% else %}
                No user found
            {% endfor %}
        </p>
    </div>
{% endblock %}